@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color:#141A30;
    margin: 0;
    padding: 0;
    color:white;
}

header {
    background-color: #EEE3C3;
    color: #1b1b1b;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    justify-content: space-between;
}

header .logo {
    font-size: 22px;
    font-weight: bolder;
    text-align: left;
    color: #28345E;
    text-shadow:
        18px 12px 28px rgba(20, 26, 48, 0.65),       
        2px 2px 4px rgba(20, 26, 48, 0.85);
}  

header .logo a {
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    font-weight: bolder;
}

header nav a {
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    color:black;
}

a {
    text-decoration: underline;
    color: #cacacb;
    font-size: 18px;
}

.title {
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.title h1 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 25px;
    font-weight: 700px;
}

.title-buttons button {
    background: transparent;
    border: 1px #fff;
    border-style: solid;
    padding: 14px 12px;
    margin: 0px 5px;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
}

.title-buttons :active {
    background: #fff;
    color: #141A30;
}

.events-section {
    margin: 60px auto;
    color: #1b1b1b;
    width: 60%;
    background-color: #FCF6E6;
    border-radius: 22px;
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 28px 30px;
    box-sizing: border-box;
}

.events-section img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    flex: 0 0 110px;
    margin-right: 25px;
    align-self: center;
}

.events-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.events-text h2 {
    color: #141A30;
    margin-bottom: 0%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: 'IM Fell Double Pica', serif;
}

.events-text p {
    text-align: left;
    color: #1b1b1b;
    justify-content: center;
    font-family: 'Port Lligat Sans';
    font-size: 20px;
    margin-bottom: 0%;
}

.content-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 80px auto;
}

.content1-section {
    width: 48%;
}

.content1-section h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
}

.content1-section p {
    color: #cacacb;
    font-size: 18px;
}

.click-1 {
    margin-top: 22px;
    background: #EEE3C3;
    padding: 10px 22px;
    border-radius: 15px;
    color: #141A30;
    font-weight: 300;
}

.image1 {
    width: 48%;
}

.image1 img {
    width: 100%;
    border-radius: 18px;
}

.image2 {
    width: 48%;
}

.image2 img {
    width: 100%;
    border-radius: 18px;
}

.content-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 80px auto;
    flex-direction: row-reverse;
}

.content2-section {
    width: 48%;
}

.content2-section h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
}

.content2-section p {
    color: #cacacb;
    font-size: 18px;
}

.click-2 {
    margin-top: 22px;
    background: #EEE3C3;
    padding: 10px 22px;
    border-radius: 15px;
    color: #141A30;
    font-weight: 300;
}