header {
  background-color: #e6ddc2;
  color: #111839;
  padding: 20px 40px;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #111839;
  color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  background-color: #e6ddc2;
  color: #111839;
  justify-content: space-between;
  padding: 20px 40px;
  font-weight: 600;
}

nav .logo {
  font-size: 20px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.event-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
  color: #111839;
}

.event-row {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

nav ul li {
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  text-align: center;
  margin-top: 60px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero .buttons {
  margin-top: 10px;
}

.hero button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background-color: #ffffff;
  color: #000;
}

.btn-dark {
  background-color: #c9c4b5;
  color: #000;
}

/* EVENT CARD */
.event-card {
  background-color: #f3ecdd;
  padding: 25px;
  width: 60%;
  margin: 60px auto;
  border-radius: 20px;
  color: #000;
}

.event-card img {
  width: 152px;
  height: 144px;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* GRID SECTION */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  padding: 40px;
}

.card {
  background-color: transparent;
  padding: 15px;
  border-radius: 12px;
}

.card h2 {
  margin-top: 0;
}

.card button {
  padding: 10px 18px;
  margin-top: 10px;
  background-color: #dacfb6;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.img-card {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(white);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .event-card {
    width: 85%;
  }

  .hero h1 {
    font-size: 28px;
  }
}
